body {
  background-color: #fffff5;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  /* display: grid;
  grid-template-rows: min-content min-content auto min-content; */
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.ErrorPage {
  min-height: 70vh;
}

.Nav {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  padding: 0 20px 0 20px;
}

.NavLink,
.NavLink:visited,
.ArticleCard__Link,
.ArticleCard__Link:active,
.ArticleCard__Link:visited {
  color: inherit;
  text-decoration: none;
}

.NavLink--TopicsDiv {
  display: flex;
}

.NavLink--Topics {
  margin: 0 5px;
}

.NavLink--Active,
.NavLink:hover {
  text-decoration: underline;
}

.Section--Date {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1rem;
  color: white;
  padding: 5px 20px 0px;
  border-top: 1px solid whitesmoke;
}

ul {
  list-style-type: none;
  padding: 0;
}

.SortBy__Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ArticleListSort__select {
  width: 120px;
  margin-right: 5px;
}

.ArticleListOrder__select {
  width: 130px;
  margin-right: 5px;
}

.ArticleListSort__button {
  width: fit-content;
}

.ArticleCard {
  text-align: left;
  border: 1px solid grey;
  background-color: #fffff5;
  padding: 0 15px 10px;
}

.ArticleCard-Div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SingleArticle__main {
  background-color: #fffff5;
  padding: 0 20px 20px;
}
.SingleArticlePage__Section {
  margin: auto;
  justify-content: center;
}

.SingleArticle__topic,
.SingleArticle__body {
  text-align: left;
}
.SingleArticle__body {
  line-height: 1.3;
  padding: 10px 0;
}

.SingleArticle__topic,
.SingleArticle__author {
  font-weight: bold;
}

.Like__button,
.Dislike__button {
  border: none;
  background: none;
  cursor: pointer;
}

.Like__button:hover {
  color: green;
}

.Dislike__button:hover {
  color: red;
}

.CommentCard__li {
  text-align: left;
  border-top: 1px solid grey;
  background-color: #fffff5;
  padding: 0 15px 10px;
}

.CommentCard__userDiv {
  display: flex;
  align-items: center;
}

.CommentCard__infoDiv {
  padding: 0 0 0 15px;
}

.UserComment__img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
}
.PostComment_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  margin: 20px 0 10px;
}

.PostComment__Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.PostComment__textarea {
  resize: none;
  min-width: 60%;
  margin: 10px 0;
}

.PostComment__button {
  width: fit-content;
}

.App-link {
  color: #61dafb;
}

.ErrorSection {
  margin: auto;
  border: 1px solid black;
  background-color: #fffff5;
  padding: 10px;
}

.Error__HomeLink {
  padding-bottom: 10px;
}

footer {
  padding-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .ArticleList {
    display: flex;
    flex-wrap: wrap;
  }
  .ArticleCard {
    width: 250px;
    max-width: 50%;
    flex-grow: 1;
  }

  .PostComment_section {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .SingleArticlePage__Section {
    max-width: 1024px;
  }
  .ArticleCard {
    width: 300px;
  }
}
