.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content min-content auto;
}

.Nav {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  padding: 0 20px 0 20px;
}

.NavLink,
.NavLink:visited {
  color: inherit;
  text-decoration: none;
}

.NavLink--TopicsDiv {
  display: flex;
}

.NavLink--Topics {
  margin: 0 5px;
}

.NavLink--Active,
.NavLink:hover {
  text-decoration: underline;
}

.Section--Date {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1rem;
  color: white;
  padding: 5px 20px 0px;
  border-top: 1px solid whitesmoke;
}

.ArticleList {
  list-style-type: none;
  padding: 0;
}

.ArticleCard {
  text-align: left;
  border: 1px solid grey;
  background-color: #fffff5;
  padding: 0 15px 10px;
}

.ArticleCard-Div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@media screen and (min-width: 600px) {
  .ArticleList {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex-basis: 100%; */
    /* justify-content: space-around; */
    /* align-content: stretch; */
  }
  .ArticleCard {
    width: 200px;
    max-width: 50%;
    flex-grow: 1;
  }
}
