.App {
  text-align: center;
}

.Nav {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  padding: 0 20px 0 20px;
}

.NavLink,
.NavLink:visited {
  color: inherit;
  text-decoration: none;
}

.NavLink--Topics {
  margin: 0 5px;
}

.NavLink--Active,
.NavLink:hover {
  text-decoration: underline;
}

.Section--Date {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1rem;
  color: white;
  padding: 5px 20px 0px;
  border-top: 1px solid whitesmoke;
}

.App-link {
  color: #61dafb;
}
